.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  font-size: 12px;
}
.bodyContentTab {
  padding: 20px;
  min-height: 300px
}
.audienceRuleItem{
  padding: 6px;
  outline:none;
  font-size: 14px;
  min-width: 26px;
  border: 1px solid #99abb6
}
.rule-item {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.list-rule{

  list-style: none;
}
.tab-content{
  margin: 0 auto;
}
.email-form p {
  padding-left: 20px;
  padding-right: 20px
}
.bodyContentTab .icon-part{
  width: 20%;
  display: inline-block;
  float: left;
}
.bodyContentTab .option-part{
  width: 80%;
  display: inline-block;
  float: right;
}
